[Unit]
Description=Tinfoil Boot Service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tinfoil-boot
User=root
Group=root
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=default.target
