[Unit]
Description=Tinfoil Shim Service
After=tinfoil-boot.service
BindsTo=tinfoil-boot.service

[Service]
Type=simple
ExecStart=/usr/local/bin/tinfoil-shim
Restart=always
RestartSec=5
User=root
