.idea/
__pycache__/
*.pyc
tools/
tinfoilcvm*
lib/
/bin/
packages/
tinfoil-inference-*
venv/
mkosi.tools/
mkosi.tools.manifest
/initrd
initrd.cpio.zst
tinfoil-boot/tinfoil-boot
tinfoil/boot
tinfoil/shim
/build/
/kernel/build/
/kernel/out/
!/kernel/out/
/kernel/out/*
!/kernel/out/rootfs-artifacts/
/kernel/out/rootfs-artifacts/*
!/kernel/out/rootfs-artifacts/nvidia-modules/
/kernel/out/rootfs-artifacts/nvidia-modules/*
!/kernel/out/rootfs-artifacts/nvidia-modules/BUILD.bazel
/bazel-*
/evidence/
