.idea/
__pycache__/
*.pyc
tools/
tinfoilcvm*
lib/
/bin/
packages/
tinfoil-inference-*
venv/
mkosi.tools/
mkosi.tools.manifest
/initrd
initrd.cpio.zst
tinfoil-boot/tinfoil-boot
tinfoil/boot
tinfoil/shim
/build/
/evidence/
