.idea/
tools/
tinfoilcvm*
lib/
/bin/
packages/
tinfoil-inference-*
mkosi.cache/*
!mkosi.cache/.gitkeep
venv/
mkosi.tools/
mkosi.tools.manifest
/initrd
initrd.cpio.zst
tinfoil-boot/tinfoil-boot
tinfoil/boot
tinfoil/shim
mkosi.extra/usr/bin/tinfoil-boot
mkosi.extra/usr/bin/tinfoil-container-status
mkosi.extra/usr/bin/tinfoil-egress
mkosi.extra/usr/bin/tinfoil-init
mkosi.extra/usr/bin/tinfoil-shim
mkosi.images/initrd/mkosi.extra/init
mkosi.images/initrd/mkosi.extra/usr/bin/tinfoil-initrd
mkosi.extra/usr/bin/containerd
mkosi.extra/usr/bin/containerd-shim-runc-v2
mkosi.extra/usr/bin/ctr
mkosi.extra/usr/bin/docker
mkosi.extra/usr/bin/docker-init
mkosi.extra/usr/bin/docker-proxy
mkosi.extra/usr/bin/dockerd
mkosi.extra/usr/bin/runc
mkosi.extra/usr/lib/x86_64-linux-gnu/libdevmapper.so.1.02.1
mkosi.extra/usr/lib/x86_64-linux-gnu/libudev.so.1
mkosi.extra/usr/lib/x86_64-linux-gnu/libudev-tinfoil-inactive-shim.so.1
mkosi.images/initrd/mkosi.extra/usr/lib/x86_64-linux-gnu/libudev.so.1
mkosi.images/initrd/mkosi.extra/usr/lib/x86_64-linux-gnu/libudev-tinfoil-inactive-shim.so.1
mkosi.extra/usr/lib/modules/
mkosi.images/initrd/mkosi.extra/usr/lib/modules/
mkosi.images/initrd/mkosi.extra/usr/lib/tinfoil/initrd-modules
mkosi.extra/usr/lib/tinfoil/custom-kernel/
mkosi.extra/usr/lib/tinfoil/nvidia-rm-trace.so
kernel/build/
kernel/out/
