(cors) {
	@cors_preflight{args.0} method OPTIONS
	@cors{args.0} header Origin {args.0}

	handle @cors_preflight{args.0} {
		header {
			Access-Control-Allow-Origin "{args.0}"
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
			Access-Control-Allow-Headers *
			Access-Control-Max-Age "3600"
			defer
		}
		respond "" 204
	}

	handle @cors{args.0} {
		header {
			Access-Control-Allow-Origin "{args.0}"
			Access-Control-Expose-Headers *
			defer
		}
	}
}

example.tinfoil.sh:443 {
	tls internal

	@llm_paths {
		path /api/chat
		path /v1/chat/completions
	}

	@shim_paths {
		path /.well-known/tinfoil-attestation
	}

	handle @llm_paths {
		import cors *
		reverse_proxy localhost:11434 {
			header_up Host "localhost:11434"
			header_up Origin "http://localhost:11434"
		}
	}

	handle @shim_paths {
		import cors *
		reverse_proxy localhost:6000 {
			header_up Host "localhost:6000"
			header_up Origin "http://localhost:6000"
		}
	}

	handle * {
		respond "Not Found" 404
	}

	handle / {
		respond "Tinfoil Inference" 200
	}
}
